<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Users
  </title>
  <!-- stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css" />

  <!-- script -->

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <!-- from node_modules -->

  <!-- from cdn -->
  <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/dialog.js"></script>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
      color: #333;
    }

    header {
      background-color: #4caf50;
      color: #fff;
      text-align: center;
      padding: 1rem;
    }

    section {
      max-width: 40rem;
      margin: auto;
      margin-top: 2rem;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #4caf50;
    }

    h1 {
      font-size: 2.5rem;
    }

    p {
      line-height: 1.6;
    }

    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .btn-orchids {
      width: 7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      margin-bottom: 1rem;
      background-color: #4caf50;
      color: #fff;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2rem;
    }

    .btn-orchids:hover {
      background-color: #45a049;
    }

    /* .btn-actions {
        
      } */

    .btn-action:hover {
      background-color: rgb(34 197 94 / 0.3);
    }

    .btn-danger:hover {
      background-color: rgba(197, 34, 34, 0.3);
      color: red
    }

    .link-hover:hover {
      opacity: 0.7;
    }
  </style>
</head>

<body>
  <header>
    <a href="/">
      <h1>Orchids Flower Shop</h1>
    </a>
  </header>
  <section class="bg-white">
    <h2 class="text-2xl pb-4 font-semibold">Sign in</h2>
    <form method="post" class="flex flex-col gap-8">
      <div class="field">
        <label class="label text-lg font-semibold">Username</label>
        <div class="control">
          <input class="input" name="username" type="text" placeholder="Type your username....">
        </div>
      </div>
      <div class="field">
        <label class="label text-lg font-semibold">Password</label>
        <div class="control">
          <input class="input is-success" name="password" type="password" placeholder="Enter your password...">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button data-ripple-light="true"
            class=" middle none center rounded-lg bg-gradient-to-tr from-green-600 to-green-400 py-2 px-6 font-sans font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
            Login
          </button>
        </div>
      </div>
      <div>Don't have an account? <a class="underline" href="/users">Register</a></div>
    </form>
    <div class="text-red-500">
      <% if(success_msg !='' ){ %>
        <%= success_msg %>
          <% } %>
            <% if(error_msg !='' ){ %>
              <%= error %>
                <% } %>

                  <% if(error !='' ){ %>
                    <%= error %>
                      <% } %>
    </div>
  </section>

</body>

</html>